Repository woowacourse-teams/2023-3-ddang, pull requests merged in 2023-11, with the labels that each got.

#721 문서 최신화
  backend/ddang/src/main/resources/static/docs/docs.html
Labels: docs, backend

#716 사용하지 않는 초기데이터 세팅 제거
  backend/ddang/src/main/java/com/ddang/ddang/configuration/initialization/InitializationUserConfiguration.java
  backend/ddang/src/main/resources/application-local.yml
Labels: refactor, backend

#730 flyway ci 검증 추가
  .github/workflows/backend_flyway.yml
  .github/workflows/backend_pr_decorator.yml
  backend/ddang/build.gradle
Labels: environment, backend

#709 안 읽은 메시지 카운팅 기능 구현
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/LastReadMessageLogEventListener.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/LastReadMessageLogService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadChatRoomWithLastMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/event/CreateReadMessageLogEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/event/UpdateReadMessageLogEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/ReadMessageLogNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ReadMessageLog.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/dto/ChatRoomAndMessageAndImageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/repository/ReadMessageLogRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/JpaReadMessageLogRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageAndImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/ReadMessageLogRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndMessageAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadChatRoomWithLastMessageResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/repository/UserRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/UserRepositoryImpl.java
  backend/ddang/src/main/resources/db/migration/V21__create_read_message_log_tables.sql
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/LastReadMessageLogEventListenerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/LastReadMessageLogServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/LastReadMessageLogEventListenerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/LastReadMessageLogServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/MessageServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageAndImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/ReadMessageLogRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslChatRoomAndMessageAndImageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/ReadMessageLogRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/fixture/ChatRoomControllerFixture.java
Labels: backend, feature

#733 읽지 않은 메시지 로그 조회 시 누락된 조건문 추가
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageAndImageRepository.java
Labels: bug, backend

#753 aws 관련 configuration import 수정 및 패키지 이동
  backend/ddang/src/main/java/com/ddang/ddang/configuration/AwsConfiguration.java
Labels: bug, backend
