Repository woowacourse-teams/2023-3-ddang, pull requests merged in 2023-08, with the labels that each got.

#162 이미지 Uri를 MultipartBody로 변환
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#177 경매 등록 api 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionRequest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: refactor, backend, api

#178 개발 환경 jenkins pipeline script 수정
  backend/ddang/script/dev-pipeline.jenkinsfile
Labels: bug, backend

#174 카테고리 조회, 직거래 지역 조회 api 수정
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/CategoryController.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/RegionController.java
  backend/ddang/src/test/java/com/ddang/ddang/category/presentation/CategoryControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
Labels: refactor, backend, api

#156 입찰 api(등록) 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Price.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/CreateBidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/LoginUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/exception/InvalidAuctionToBidException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/exception/InvalidBidException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/exception/InvalidBidPriceException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/exception/InvalidBidderException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/exception/UserNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/domain/Bid.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/configuration/WebMvcConfig.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/CreateBidRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/LoginUserRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/resolver/LoginUser.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/resolver/LoginUserArgumentResolver.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/resources/db/migration/V2__alter_auction_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/BidTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: backend, feature

#182 경매 등록 시 갤러리에 있는 이미지를 서버로 전송하는 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/CategoryRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/DirectRegionRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/RegisterAuctionRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionPreviewsResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/RegisterAuctionResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
  android/data/src/test/java/com/ddangddangddang/data/Fixtures.kt
Labels: android, feature

#183 입찰 api(조회) 추가
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/CreateBidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/LoginUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/ReadBidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/LoginUserRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/request/CreateBidRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/request/LoginUserRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidsResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/resolver/LoginUserArgumentResolver.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: backend, feature

#184 경매 이미지 설정 제거
  backend/ddang/src/main/java/com/ddang/ddang/configuration/ImageConfiguration.java
Labels: bug, backend

#187 경매 엔티티에 판매자 필드 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/exception/UserNotAuthorizationException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationAuctionConfiguration.java
  backend/ddang/src/main/resources/db/migration/V3__alter_auction_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
Labels: backend, feature

#190 이미지 업로드 용량 설정 추가
  backend/ddang/src/main/java/com/ddang/ddang/configuration/ImageConfiguration.java
Labels: bug, backend

#192 경매 엔티티에 카테고리 엔티티, 직거래 지역 엔티티 연관관계 세팅 방식 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
Labels: refactor, backend

#195 이미지를 압축하여 캐시에 저장하는 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
Labels: android, feature

#188 카테고리 선택 페이지 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryViewModel.kt
  android/app/src/main/res/layout/item_select_main_category.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/CategoryRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/EachCategoryResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepositoryMockImpl.kt
Labels: android, feature

#194 지역 선택 페이지 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsViewModel.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/RegionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/RegionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/RegionRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/RegionRepositoryMockImpl.kt
Labels: android, feature

#198 예외 핸들링, 테스트 케이스, 문서 추가
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/image/application/exception/InvalidImagePathException.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/local/LocalStoreImageProcessor.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/local/exception/StoreImageException.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/local/exception/StoreImageFailureException.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/configuration/RestDocsConfiguration.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/local/LocalStoreImageProcessorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/ImageControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
Labels: docs, backend, test

#202 flyway로 인해 기존 데이터의 입찰자 수가 null이 되는 문제 해결
  backend/ddang/src/main/resources/db/migration/V4__alter_auction_tables.sql
Labels: bug, backend

#200 경매 입찰 기능 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/SubmitBidFailureResponse.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/Toaster.kt
  android/app/src/main/res/layout/fragment_auction_bid_dialog.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/AuctionBidRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#204 두 가지 예외 통합
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/domain/Bid.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/BidTest.java
Labels: bug, backend

#203 등록 페이지와 카테고리, 지역 선택 페이지 연결
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/model/CategoryModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/RegionSelectionModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/compat/SerializableCompat.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/layout/activity_select_regions.xml
Labels: android, feature

#206 경매 입찰 실패 시 응답 메시지 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/SubmitBidFailureResponse.kt
Labels: android, refactor

#209 상세 정보에서는 입찰자 수가 0으로 전달되는 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: bug, refactor, backend

#213 입찰 관련 테스트 추가 및 api 문서
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: docs, backend, test

#212 채팅방 상세 정보 조회 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadParticipatingChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/UserNotAccessibleException.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ChatRoom.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadChatRoomResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: backend, feature

#229 카카오 소셜로그인 기능 구현
  android/.gitignore
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/global/DdangDdangDdang.kt
  android/app/src/main/res/drawable-hdpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable-ldpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable-mdpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable-xhdpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable-xxhdpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable-xxxhdpi/btn_kakao_login_large_wide.png
  android/app/src/main/res/drawable/img_logo.png
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
  android/settings.gradle
Labels: android, feature

#231 회원 가입, 로그인 기능 구현
  backend/ddang/build.gradle
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/dto/TokenDto.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/JwtConfigurationProperties.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/KakaoProvidersConfigurationProperties.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2Configuration.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2TypeConverter.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2TypeConverterConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/Oauth2UserInformationProviderComposite.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/PrivateClaims.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/TokenDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/TokenEncoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/TokenType.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/dto/UserInformationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/exception/InvalidTokenException.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/exception/UnsupportedSocialLoginException.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtEncoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/OAuth2UserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/Oauth2Type.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/dto/response/KakaoTokenInformationResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/AccessTokenRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/RefreshTokenRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/response/TokenResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationUserConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/initialization/InitializationAuctionConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/initialization/InitializationRegionConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/initialization/InitializationUserConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/db/migration/V5__alter_user_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/domain/Oauth2UserInformationProviderCompositeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtEncoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/KakaoOauth2TypeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProviderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/BidTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/resources/application.yml
Labels: backend, feature

#243 flyway version 5 script 오타 수정
  backend/ddang/src/main/resources/db/migration/V5__alter_user_tables.sql
Labels: bug, backend

#241 카카오 소셜로그인 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/global/DdangDdangDdang.kt
  android/data/build.gradle
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/local/AuthSharedPreference.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/KakaoLoginRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/TokenResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/RegionRepositoryImpl.kt
Labels: android, feature

#245 flyway version 5 script 누락된 컬럼 변경 사항 추가
  backend/ddang/src/main/java/com/ddang/ddang/configuration/initialization/InitializationUserConfiguration.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/db/migration/V5__alter_user_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/configuration/DatabaseCleanListener.java
Labels: bug, backend

#240 경매 상세 화면에서 쪽지방 생성 버튼 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailBottomButtonStatus.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ChatAuctionDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/ChatRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ChatMessageRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/GetChatRoomIdRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionDetailResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatAuctionDetailResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatAuctionItemResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatMessageIdResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatMessageResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatPartnerResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatRoomIdResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatRoomPreviewResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/ChatRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/ChatRepositoryImpl.kt
Labels: android, feature

#248 자동 로그인 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/global/DdangDdangDdang.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/CategoryRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/ChatRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/RegionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/RefreshTokenRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionRetrofit.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthRetrofit.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/ChatRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/RegionRepositoryImpl.kt
Labels: android, feature

#249 api 인증 및 인가 기능 연동
  backend/ddang/build.gradle
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/exception/UserForbiddenException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/exception/UserNotAuthorizationException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/AuthenticateUser.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/AuthenticationInterceptor.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/AuthenticationPrincipalArgumentResolver.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2PropertiesConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2TypeConverterConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/Oauth2WebConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/exception/UserUnauthorizedException.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/PrivateClaims.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/TokenDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/dto/AuthenticationStore.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/dto/AuthenticationUserInfo.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/PrivateClaims.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProviderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/presentation/CategoryControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/ImageControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
Labels: backend, feature

#238 경매 신고 등록 및 조회 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/AuctionReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/CreateAuctionReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadAuctionInReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadAuctionReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadReporterDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/exception/AlreadyReportAuctionException.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/exception/InvalidReportAuctionException.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/exception/InvalidReporterToAuctionException.java
  backend/ddang/src/main/java/com/ddang/ddang/report/domain/AuctionReport.java
  backend/ddang/src/main/java/com/ddang/ddang/report/infrastructure/persistence/JpaAuctionReportRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/AuctionReportController.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/request/CreateAuctionReportRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadAuctionInReportResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadAuctionReportResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadAuctionReportsResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadReporterResponse.java
  backend/ddang/src/main/resources/db/migration/V6__create_auction_report_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/report/application/AuctionReportServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaAuctionReportRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/AuctionReportControllerTest.java
Labels: backend, feature

#255 토큰 유효성 검증 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/response/ValidatedTokenResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
Labels: backend, feature

#254 쪽지 목록 페이지 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageRoomAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageRoomViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/MessageRoomModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageRoomModelMapper.kt
  android/app/src/main/res/layout/fragment_message.xml
  android/app/src/main/res/layout/item_message_room.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#256 사용자 정보 조회 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/UserNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/AuctionReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/dto/ReadUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/exception/UserNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserController.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/BidTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/AuctionReportServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/AuctionReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
Labels: backend, feature

#236 채팅방 목록 조회 api 명세 수정에 따른 변경
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadChatRoomsResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: refactor, backend, api

#234 채팅방 생성 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/exception/WinnerNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/CreateChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadParticipatingChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/InvalidAuctionToChatException.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/request/CreateChatRoomRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: backend, feature

#261 마이페이지 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ProfileModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/ProfileModelMapper.kt
  android/app/src/main/res/drawable/ic_star_18.xml
  android/app/src/main/res/drawable/ic_star_24.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/view_profile.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/UserRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/LogoutRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ProfileResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionRetrofit.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepositoryImpl.kt
Labels: android, feature

#273 경매와 인증/인가 기능 연동
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/CreateBidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/LoginUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/configuration/WebMvcConfig.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/resolver/LoginUser.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/resolver/LoginUserArgumentResolver.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: backend, feature

#269 로그아웃 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/BlackListTokenService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/AuthenticationInterceptor.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/BlackListToken.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/domain/exception/EmptyTokenException.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/persistence/JpaBlackListTokenRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/LogoutRequest.java
  backend/ddang/src/main/resources/db/migration/V8__alter_black_list_token_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/BlackListTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/domain/BlackListTokenTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/persistence/JpaBlackListTokenRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
Labels: backend, feature

#264 경매 목록 새로고침 기능 추가
  android/app/build.gradle
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#268 삭제된 경매 상세 조회 시 데이터를 삭제하고 경매 목록으로 돌아오는 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/DialogFactory.kt
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#275 신고 기능 서버 연동 및 액티비티 연결
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportViewModel.kt
  android/app/src/main/res/drawable/ic_report_24.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/activity_report.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReportRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#270 쪽지방 페이지 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/BindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageViewItem.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageViewType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/RoomCreatedNotifyAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/model/MessageModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/MessageRoomDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageModelMapper.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageRoomDetailModelMapper.kt
  android/app/src/main/res/drawable/ic_refresh_24.xml
  android/app/src/main/res/drawable/ic_report_24.xml
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/item_message_room_created_notify.xml
  android/app/src/main/res/layout/item_my_message.xml
  android/app/src/main/res/layout/item_partner_message.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#279 자동로그인 기능 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashViewModel.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ValidateTokenResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionCall.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionCallAdapter.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
Labels: android, feature

#265 경매 상세 조회 시 채팅방 아이디와 채팅 가능 유저 여부 함께 전송하도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionWithChatRoomIdDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ChatRoomInAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ChatRoom.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
Labels: refactor, backend, api

#283 채팅방 생성 시 채팅방 아이디 바디로 넘기도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/CreateChatRoomResponse.java
Labels: bug, backend

#284 회원 탈퇴 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationUserService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/AuthenticationInterceptor.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserController.java
  backend/ddang/src/main/resources/db/migration/V9__alter_user_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationUserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
Labels: backend, feature

#288 개인정보처리방침 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#289 신고하기 및 쪽지방 정보 Dto 서버랑 안맞는 버그 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageRoomDetailModelMapper.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageRoomModelMapper.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatLastMessageResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatPartnerResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ChatRoomPreviewResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/SellerResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
Labels: bug, android

#291 flyway script version 9 수정
  backend/ddang/src/main/resources/db/migration/V9__alter_user_tables.sql
Labels: bug, backend

#281 신고 api 문서화
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
Labels: docs, backend

#292 모니터링 설정
  backend/ddang/build.gradle
  backend/ddang/src/main/java/com/ddang/ddang/configuration/MonitoringConfiguration.java
Labels: backend, feature

#295 경매 api 문서 최신화, 인증 & 인가 api 문서화
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
Labels: docs, backend, test

#299 경매 상세 조회 api 응답 필드 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: docs, backend, api

#302 운영 서버 관련 script 변경
  backend/ddang/script/prod-deploy-script.sh
  backend/ddang/script/prod-pipeline.jenkinsfile
  backend/ddang/src/main/resources/db/migration/V5__alter_user_tables.sql
Labels: bug, backend, deploy

#300 경매 상세 페이지 경매 삭제 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/res/drawable/ic_delete_24.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionDetailResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#296 채팅 api 문서화
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: docs, backend

#328 토큰 자동 갱신 로직에서 첫 번째 응답 안 닫아서 발생하던 버그 수정
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionRetrofit.kt
Labels: bug, android

#333 안드로이드 버전 수정
  android/app/build.gradle
  android/data/build.gradle
Labels: android, refactor
