Repository woowacourse-teams/2023-3-ddang, pull requests merged in 2023-09, with the labels that each got.

#324 경매 목록 조회 시 인가 기능 추가
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#338 경매 목록 조회 쿼리 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
Labels: refactor, backend

#322 채팅 메시지 조회 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ChatRoomInMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: refactor, backend

#343 경매 목록 조회 시 정렬 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/AuctionWebConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/DescendingSort.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/DescendingSortPageableArgumentResolver.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/exception/UnsupportedSortParameterException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/util/AuctionSortConditionConsts.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/util/SortParameter.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/util/AuctionSortCondition.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/util/exception/UnsupportedSortConditionException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/common/helper/QuerydslSliceHelper.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/configuration/util/SortParameterTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/util/AuctionSortConditionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#348 상세 화면을 위한 로딩 화면 추가
  android/app/build.gradle
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/LoadingDialog.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/view_loading_dialog.xml
  android/app/src/main/res/raw/default_loading.json
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#350 경매 목록 검색 시 제목 기반의 검색 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/AuctionSearchConditionArgumentResolver.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/exception/InvalidSearchConditionException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/ReadAuctionSearchCondition.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/InitializeCommonAuctionData.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/SearchTitleQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#359 경매 목록 조회 시 정렬 기능 버그 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/DescendingSortPageableArgumentResolver.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/InitializeCommonAuctionData.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/SearchAndSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/SearchTitleQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/SortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: bug, backend

#370 CI / CD 스크립트 변경
  .github/workflows/backend_pr_decorator.yml
  backend/ddang/script/dev-pipeline.jenkinsfile
  backend/ddang/script/prod-pipeline.jenkinsfile
  backend/ddang/src/test/resources/firebase/private-key.json
Labels: bug, backend

#355 채팅 메시지 수신 알림 기능 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/global/DdangDdangDdang.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/NotificationChannel.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#347 채팅방 관련 코드 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadAuctionInChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadChatRoomWithLastMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/InvalidUserToChat.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/exception/UserNotAccessibleException.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndMessageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadAuctionInChatRoomResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
Labels: refactor, backend

#368 사용자 관련 경매 목록 조회 기능 추가
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserAuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserController.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/CategoryResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ChatRoomInAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/DirectRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionWithChatRoomIdDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionsResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByBidderIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByUserIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchAndSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchTitleQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/InitializeCommonAuctionData.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserAuctionControllerTest.java
  backend/ddang/src/test/resources/firebase/private-key.json
Labels: backend, feature

#367 새로운 메시지 생성 시 알림 기능 추가
  backend/ddang/.gitignore
  backend/ddang/build.gradle
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/AccessTokenRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/LoginTokenRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/FcmConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/MockGoogleCredentials.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/exception/FcmNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/device/application/DeviceTokenService.java
  backend/ddang/src/main/java/com/ddang/ddang/device/application/dto/PersistDeviceTokenDto.java
  backend/ddang/src/main/java/com/ddang/ddang/device/application/exception/DeviceTokenNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/device/domain/DeviceToken.java
  backend/ddang/src/main/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/device/presentation/DeviceTokenController.java
  backend/ddang/src/main/java/com/ddang/ddang/device/presentation/dto/request/UpdateDeviceTokenRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/dto/CreateNotificationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/exception/NotificationFailedException.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/util/NotificationProperty.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/domain/NotificationType.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/db/migration/V10_create_device_token_tables.sql
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/application/DeviceTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/domain/DeviceTokenTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/presentation/DeviceTokenControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/FcmNotificationServiceTest.java
  backend/ddang/src/test/resources/application.yml
Labels: backend, feature

#379 flyway script 버전 이름 변경
  backend/ddang/src/main/resources/db/migration/V10__create_device_token_tables.sql
Labels: bug, backend

#381 fcm private key를 찾을 수 없는 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/FcmConfiguration.java
Labels: bug, backend

#383 V11 flyway script 수정
  backend/ddang/src/main/resources/db/migration/V11__create_profile_image_tables.sql
Labels: bug, backend, deploy

#378 탈퇴 기능 추가
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ChatRoomInAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/exception/InvalidWithdrawalException.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/util/RandomNameGenerator.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/KakaoProvidersConfigurationProperties.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/OAuth2UserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/Oauth2Type.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/request/WithdrawalRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/ReadBidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadUserInChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadChatPartnerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/common/helper/QuerydslSliceHelper.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/image/application/util/ImageIdProcessor.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageBaseUrl.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculator.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/ChatRoomReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadReporterDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadUserInReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/exception/ChatRoomReportNotAccessibleException.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/exception/InvalidChatRoomReportException.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadReporterResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/dto/ReadUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserController.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/util/NameProcessor.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/db/migration/V12__alter_user_tables.sql
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/KakaoOauth2TypeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProviderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/presentation/CategoryControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/ChatRoomReportServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/dto/ReadUserDtoTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserAuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
  backend/ddang/src/test/resources/application.yml
Labels: backend, feature

#384 알림 전송 실패 시 로그 추가
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
Labels: backend, feature

#385 경매 이미지 url 처리에 방법 변경
  backend/ddang/src/main/java/com/ddang/ddang/image/application/ImageService.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/ProfileImageServiceTest.java
Labels: bug, backend

#388 채팅방 목록 조회 시 groupBy 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageRepositoryImpl.java
Labels: bug, backend

#376 홈 전체 경매 목록 조회 바뀐 API 맞게 수정 및 정렬 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionSpaceItemDecoration.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/SortType.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#393 프로덕션 환경의 FCM 설정과 로컬 환경의 FCM 분리
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/LocalFcmConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/fcm/ProdFcmConfiguration.java
Labels: refactor, backend

#391 회원 정보 수정 기능 및 마이페이지 목록 UI 구성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/BindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ProfileModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/image/UriOptimizeUtil.kt
  android/app/src/main/res/drawable/bg_white_black_radius_10dp.xml
  android/app/src/main/res/layout/activity_profile_change.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/view_my_page_feature_category.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/UserRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ProfileUpdateRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepositoryImpl.kt
Labels: android, feature

#392 검색 기능 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/search/SearchFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/search/SearchViewModel.kt
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#396 나의 경매 목록 기능
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/myAuction/MyAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/myAuction/MyAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/res/layout/activity_my_auction.xml
  android/app/src/main/res/layout/activity_profile_change.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/UserRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepositoryImpl.kt
Labels: android, feature

#390 안드로이드 12이하 버전 알림 권한 및 알림 수신 대응
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#402 참여 경매 목록 기능
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/participateAuction/ParticipateAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/participateAuction/ParticipateAuctionViewModel.kt
  android/app/src/main/res/layout/activity_participate_auction.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/UserRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepositoryImpl.kt
Labels: android, feature

#399 마감 임박순 정렬 쿼리 및 내가 등록한 경매 목록 조회 쿼리 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/exception/UnsupportedSortConditionException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/util/AuctionSortCondition.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByBidderIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByUserIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchAndSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchTitleQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/InitializeCommonAuctionData.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/util/AuctionSortConditionTest.java
Labels: refactor, backend

#409 탈퇴 시 요청 메서드 변경
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
Labels: refactor, backend

#401 사용자 정보 수정 시 이름만 수정한다면 이미지는 null 전달되는 요청 처리
  backend/ddang/src/main/java/com/ddang/ddang/image/application/ImageService.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserController.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/ProfileImageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/JpaAuctionImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
Labels: refactor, backend

#407 회원 탈퇴 기능 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/WithdrawalRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
Labels: android, feature

#405 경매 마감까지 1초 이상 59초 이하 남아도 경매 마감으로 문구가 뜨던 버그 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/SubmitBidFailureResponse.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailModel.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: bug, android

#418 탈퇴 시 권한이 없다고 뜨는 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/configuration/KakaoProvidersConfigurationProperties.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/OAuth2UserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProvider.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepository.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProviderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
Labels: bug, backend

#419 카카오 요청 관련 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProvider.java
Labels: bug, backend

#412 프로필 이미지가 null일 경우 알림 전송에 실패하는 오류 해결
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/ProfileImage.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculator.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/dto/CreateNotificationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/resources/db/migration/V13__alter_user_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepositoryTest.java
Labels: bug, refactor, backend

#416 경매 등록 글 EditText Text 옆에 '원' 단위 붙이기
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/DefaultTextWatcher.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#429 report 정렬 추가 및 탈퇴 시 디바이스 토큰 제거
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/AuctionReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/ChatRoomReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/infrastructure/persistence/JpaAuctionReportRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/report/infrastructure/persistence/JpaChatRoomReportRepository.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaAuctionReportRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaChatRoomReportRepositoryTest.java
Labels: refactor, backend

#423 쪽지방 페이지 전송 버튼 활성화 유무 설정 및 글자 기울어져서 잘리는 현상 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/item_my_message.xml
  android/app/src/main/res/values/strings.xml
Labels: android, refactor, feature

#425 회원 정보 페이지에서 프로필 이미지 scaleType 수정 및 회원 수정 정보 요청 시 응답 실패 로직 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeViewModel.kt
  android/app/src/main/res/drawable/ic_camera_20_18.xml
  android/app/src/main/res/layout/activity_profile_change.xml
  android/app/src/main/res/layout/view_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: android, refactor

#428 바텀네비게이션바 디자인 수정
  android/app/src/main/res/color/black_900_to_red_100_checked.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/themes.xml
Labels: android, refactor

#434 쪽지 신고 fk관련 flyway 수정
  backend/ddang/src/main/resources/db/migration/V14__alter_chat_room_report_tables.sql
Labels: bug, backend

#432 쪽지방 신고 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ReportType.kt
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReportAuctionArticleRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReportMessageRoomRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#436 인앱 자동 업데이트 기능 추가
  android/app/build.gradle
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#438 상위 입찰자 발생 시 기존 마지막 입찰자에게 알림을 전송하는 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionAndImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionAndImageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/dto/AuctionAndImageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/dto/AuctionAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/image/application/util/ImageIdProcessor.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculator.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionAndImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/util/ImageIdProcessorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculatorTest.java
Labels: backend, feature

#440 flyway 문제 발생 해결
  backend/ddang/src/main/resources/db/migration/V14__alter_chat_room_report_tables.sql
Labels: bug, backend

#447 디바이스 토큰 cascade 설정 삭제
  backend/ddang/src/main/java/com/ddang/ddang/device/application/DeviceTokenService.java
  backend/ddang/src/main/java/com/ddang/ddang/device/domain/DeviceToken.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
Labels: bug, backend

#443 경매 등록 로직 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepository.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepositoryTest.java
Labels: refactor, backend

#441 컨트롤러 슬라이스 테스트 설정 공통화
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/presentation/CategoryControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/configuration/CommonControllerSliceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/presentation/DeviceTokenControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/ProfileImageControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserAuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
Labels: refactor, backend, test

#454 경매 엔티티에 경매 상태를 계산하는 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionsDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/AuctionStatus.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/CreateAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserAuctionControllerTest.java
Labels: refactor, backend

#453 입찰 알림의 바디 메시지 수정
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
Labels: refactor, backend

#458 절전모드에서도 알림을 받을 수 있도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
Labels: bug, backend

#460 Token 발급 시 어떤 Type인지 반환값에서 명시
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtEncoder.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/BlackListTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtEncoderTest.java
Labels: refactor, backend

#439 경매 알림 수신 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/NotificationType.kt
Labels: android, feature

#450 마이페이지에서 알림 설정창으로 이동하는 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#456 경매 상세 제목 흐름 및 상세 설명 텍스트 복사 기능 추가
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/values/themes.xml
Labels: android, feature

#463 Glide로 알림 이미지 처리
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
Labels: android, refactor

#464 알림 타입과 관련된 key 값 변경
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/util/NotificationProperty.java
Labels: bug, backend

#465 예외 처리 방식 및 메시지 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
Labels: bug, backend

#467 채팅방에 메시지가 없을 때 목록 조회 시 예외 발생하지 않도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageAndImageRepositoryImpl.java
Labels: bug, backend

#470 이미지 url 관련 네이밍 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/CreateAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/oauth2/Oauth2Type.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/ChatRoomController.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadAuctionInChatRoomResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/response/ReadChatPartnerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/AuctionImage.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/ImageController.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageBaseUrl.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageRelativeUrl.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculator.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/UserAuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionsResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/ProfileImageControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculatorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
Labels: refactor, backend

#472 카테고리 관련 테스트 코드 리펙토링
  backend/ddang/src/test/java/com/ddang/ddang/category/application/CategoryServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/application/fixture/CategoryServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/category/domain/CategoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/JpaCategoryRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/fixture/JpaCategoryRepositoryFixture.java
Labels: refactor, backend, test

#475 요청을 처리하는 모든 과정을 추적하는 로그 기능 추가
  backend/ddang/build.gradle
  backend/ddang/src/main/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoder.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/LogAop.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/LogTracer.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/MdcFilter.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/SlackAppender.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/TraceDepth.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/TraceStatus.java
  backend/ddang/src/main/resources/application.yml
  backend/ddang/src/main/resources/logback-spring.xml
  backend/ddang/src/test/java/com/ddang/ddang/log/SlackAppenderTest.java
Labels: backend, feature

#476 인증 & 인가 관련 테스트 코드 리펙토링
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationUserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/BlackListTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationUserServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/BlackListTokenServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtDecoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/JwtEncoderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/fixture/JwtDecoderFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/jwt/fixture/JwtEncoderFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/KakaoOauth2TypeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/fixture/KakaoOauth2TypeFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/KakaoUserInformationProviderTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/oauth2/kakao/fixture/KakaoUserInformationProviderFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/persistence/JpaBlackListTokenRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/infrastructure/persistence/fixture/JpaBlackListTokenRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/fixture/AuthenticationControllerFixture.java
Labels: refactor, backend, test

#486 쪽지 컨트롤러 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/fixture/ChatRoomControllerFixture.java
Labels: refactor, backend, test
