Repository woowacourse-teams/2023-3-ddang, pull requests merged in 2023-07, with the labels that each got.

#8 프로젝트 세팅
  backend/ddang/.gitignore
  backend/ddang/build.gradle
  backend/ddang/gradle/wrapper/gradle-wrapper.properties
  backend/ddang/gradlew
  backend/ddang/gradlew.bat
  backend/ddang/settings.gradle
  backend/ddang/src/main/java/com/ddang/ddang/DdangApplication.java
  backend/ddang/src/main/resources/application.yml
  backend/ddang/src/test/java/com/ddang/ddang/DdangApplicationTests.java
Labels: environment, backend

#10 프로젝트 기초 세팅 추가
  backend/ddang/.gitignore
  backend/ddang/build.gradle
  backend/ddang/lombok.config
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/LogController.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/log/SlackAppender.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/main/resources/application.yml
  backend/ddang/src/main/resources/logback-spring.xml
  backend/ddang/src/test/java/com/ddang/ddang/configuration/RestDocsConfiguration.java
  backend/ddang/src/test/java/com/ddang/ddang/log/SlackAppenderTest.java
Labels: environment, backend

#19 카테고리 엔티티 및 레포지토리 추가
  backend/ddang/src/main/java/com/ddang/ddang/DdangApplication.java
  backend/ddang/src/main/java/com/ddang/ddang/LogController.java
  backend/ddang/src/main/java/com/ddang/ddang/category/domain/Category.java
  backend/ddang/src/main/java/com/ddang/ddang/category/infrastructure/persistence/JpaCategoryRepository.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/test/java/com/ddang/ddang/category/domain/CategoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/JpaCategoryRepositoryTest.java
Labels: backend, feature

#23 카테고리 api 추가
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/category/application/CategoryService.java
  backend/ddang/src/main/java/com/ddang/ddang/category/application/dto/ReadCategoryDto.java
  backend/ddang/src/main/java/com/ddang/ddang/category/application/exception/CategoryNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/CategoryController.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/dto/ReadCategoriesResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/dto/ReadCategoryResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/dto/ExceptionResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/category/application/CategoryServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/presentation/CategoryControllerTest.java
Labels: docs, backend, feature

#24 지역 엔티티 및 레포지토리 추가
  backend/ddang/src/main/java/com/ddang/ddang/category/domain/Category.java
  backend/ddang/src/main/java/com/ddang/ddang/region/domain/Region.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepository.java
  backend/ddang/src/test/java/com/ddang/ddang/region/domain/RegionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepositoryTest.java
Labels: backend, feature

#32 지역 api 추가
  backend/ddang/src/main/java/com/ddang/ddang/category/application/CategoryService.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/region/application/RegionService.java
  backend/ddang/src/main/java/com/ddang/ddang/region/application/dto/ReadRegionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/region/application/exception/RegionNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/RegionController.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/dto/ReadRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/dto/ReadRegionsResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/category/application/CategoryServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/application/RegionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
Labels: backend, feature

#33 경매 상품 등록 페이지 그리고 MVVM 구조 설계
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/res/drawable/bg_stroke_gray_radius_1dp.xml
  android/app/src/main/res/drawable/ic_edittext_cursor.xml
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#37 경매 엔티티 및 레포지토리(등록) 추가
  backend/ddang/src/main/java/com/ddang/ddang/actuion/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/actuion/domain/Price.java
  backend/ddang/src/main/java/com/ddang/ddang/actuion/domain/exception/InvalidPriceValueException.java
  backend/ddang/src/main/java/com/ddang/ddang/actuion/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/common/entity/BaseTimeEntity.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/JpaConfiguration.java
  backend/ddang/src/test/java/com/ddang/ddang/actuion/domain/PriceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/actuion/infrastructure/persistence/JpaAuctionRepositoryTest.java
Labels: backend, feature

#38 경매 상품 등록 페이지 날짜, 시간 Picker 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/res/layout/activity_register_auction.xml
Labels: android, feature

#41 경매 api(등록) 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/BidUnit.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Price.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/exception/InvalidPriceValueException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/CreateAuctionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/CreateAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/region/application/RegionService.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/BidUnitTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/PriceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#42 경매 레포지토리(상세 조회) 테스트 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/BidUnit.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Price.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
Labels: backend, test

#43 경매 api(상세 조회) 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/exception/AuctionNotFoundException.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/AuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/SellerResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#45 경매 도메인 엔티티 삭제 비즈니스 로직 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
Labels: backend, feature

#46 경매 api(삭제) 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: backend, feature

#39 경매 상품 상세 페이지 UI 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionImageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionImageViewHolder.kt
  android/app/src/main/res/drawable/bg_detail_normal_dot_to_selected_dot.xml
  android/app/src/main/res/drawable/ic_detail_dot_normal.xml
  android/app/src/main/res/drawable/ic_detail_dot_selected.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/item_detail_auction.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature, ui

#52 queryDsl 설정 추가
  backend/ddang/build.gradle
  backend/ddang/src/main/java/com/ddang/ddang/configuration/QuerydslConfiguration.java
Labels: environment, backend

#53 경매 엔티티에 이미지, 카테고리, 지역 필드 임시 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/AuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/CategoryResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/CreateAuctionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/DirectRegionResponse.java
Labels: refactor, backend

#54 경매 상품 목록 레이아웃 작성
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionSpaceItemDecoration.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionHomeModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionHomeStatusModel.kt
  android/app/src/main/res/color/cc_white_to_red_100.xml
  android/app/src/main/res/color/oc_black_400_to_red_100.xml
  android/app/src/main/res/color/tc_black_to_white.xml
  android/app/src/main/res/drawable/bg_black_400_radius_25dp.xml
  android/app/src/main/res/drawable/bg_radius_5dp.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_home_auction.xml
  android/app/src/main/res/layout/view_auction_image_cover_with_status.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android, feature

#61 gradle 환경 설정
  backend/ddang/.gitignore
  backend/ddang/gradle/wrapper/gradle-wrapper.jar
Labels: environment, backend

#58 경매 api(목록) 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/ReadAuctionsResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/JpaCategoryRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepositoryTest.java
Labels: backend, feature

#55 경매 상품 등록 페이지 이미지 URL 업로드와 서버 전송 준비, Picker 스타일 변경
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/data/src/androidTest/java/com/ddangddangddang/data/AuctionRequest.kt
Labels: android, feature

#62 경매 상품 선택 시 경매 상세를 보여주는 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/AuctionViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionHomeStatusModel.kt
  android/app/src/main/res/layout/item_home_auction.xml
  android/app/src/main/res/layout/view_auction_image_cover_with_status.xml
Labels: android, feature

#67 API 명세 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/CreateAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionCategoryRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateDirectRegionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/CategoryResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/CreateAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/DirectRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionsResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/CategoryController.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/dto/response/ReadCategoriesResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/dto/response/ReadCategoryResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/RegionController.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/dto/response/ReadRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/dto/response/ReadRegionsResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: refactor, backend

#69 테스트 환경 설정 추가
  backend/ddang/src/test/resources/application.yml
Labels: environment, backend

#66 경매 상품 목록에서 경매 등록 페이지로 이동하는 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#71 build script 추가
  backend/ddang/script/deploy-script.sh
Labels: environment, backend

#77 경매 더미 데이터 추가
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationAuctionConfiguration.java
Labels: backend, feature

#80 API 명세 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationAuctionConfiguration.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
Labels: bug, backend, api

#85 Repository 테스트 작성 - 경매 상품 목록 조회
  android/data/build.gradle
  android/data/src/test/java/com/ddangddangddang/data/AuctionRepositoryImplTest.kt
  android/data/src/test/java/com/ddangddangddang/data/Fixtures.kt
  android/data/src/test/java/com/ddangddangddang/data/MockServer.kt
Labels: android, test

#84 경매 상세 페이지 UI 모델 작성 및 데이터바인딩 연결
  android/app/src/main/java/com/ddangddangddang/android/feature/common/BindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailDateTimeFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDirectRegionViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDirectRegionsAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailStatusModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/RegionModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/SellerModel.kt
  android/app/src/main/res/drawable/bg_white_black_radius_24dp.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/item_detail_direct_region.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#89 jenkins slack 연동
  backend/ddang/script/dev-pipeline.jenkinsfile
Labels: backend, deploy

#90 AuctionService 예외 케이스 테스트 추가
  backend/ddang/build.gradle
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
Labels: backend, test

#93 Repository 테스트 작성 - 경매 상품 등록, 상세 정보
  android/data/src/test/java/com/ddangddangddang/data/AuctionRepositoryImplTest.kt
  android/data/src/test/java/com/ddangddangddang/data/Fixtures.kt
  android/data/src/test/java/com/ddangddangddang/data/MockServer.kt
Labels: android, test

#95 경매 상품 목록 페이지 ViewModel 테스트 추가
  android/app/build.gradle
  android/app/src/test/java/com/ddangddangddang/android/Fixtures.kt
  android/app/src/test/java/com/ddangddangddang/android/HomeViewModelTest.kt
Labels: android, test

#96 경매 상세 페이지 서버 연동 작업 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailDateTimeFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailStatusModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionHomeStatusModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionResponse.kt
Labels: android, feature

#94 sonarqube와 github actions 설정
  .github/workflows/backend_pr_decorator.yml
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
Labels: backend, deploy

#102 sonarqube 관련 pr decorator yml 변경
  .github/workflows/backend_pr_decorator.yml
Labels: backend, deploy

#112 사용자 엔티티 생성
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationUserConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
Labels: backend, feature

#123 경매 데이터 캐싱 전략 적용
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionHomeModelMapper.kt
  android/app/src/test/java/com/ddangddangddang/android/HomeViewModelTest.kt
  android/app/src/test/java/com/ddangddangddang/android/LiveDataExtension.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionLocalDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
  android/data/src/test/java/com/ddangddangddang/data/AuctionRepositoryImplTest.kt
Labels: android, feature

#125 CallAdapter 적용
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/ApiResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionCall.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionCallAdapter.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionRetrofit.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/CallAdapterFactory.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#110 통합 테스트, 인수 테스트 격리 설정
  backend/ddang/src/test/java/com/ddang/ddang/configuration/DatabaseCleanListener.java
  backend/ddang/src/test/java/com/ddang/ddang/configuration/IsolateDatabase.java
Labels: backend, test

#115 지역 초기 데이터 저장
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationRegionConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/RestTemplateConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/region/application/RegionService.java
  backend/ddang/src/main/java/com/ddang/ddang/region/domain/InitializationRegionProcessor.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/api/RestTemplateInitRegionProcessor.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/api/dto/ApiAccessTokenResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/api/dto/ResultApiRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/api/dto/TotalApiRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/api/exception/RegionApiException.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/test/java/com/ddang/ddang/configuration/DatabaseCleanListener.java
  backend/ddang/src/test/java/com/ddang/ddang/region/application/RegionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/api/RestTemplateInitRegionProcessorTest.java
  backend/ddang/src/test/resources/application.yml
Labels: backend, feature

#119 입찰 엔티티 및 레포지토리 추가
  backend/ddang/src/main/java/com/ddang/ddang/bid/domain/Bid.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepository.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
Labels: backend, feature

#132 mysql 의존성 추가
  backend/ddang/build.gradle
Labels: environment, backend

#133 경매 상품 등록 페이지 DatePicker month -1 버그
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
Labels: bug, android

#127 경매 목록 무한 스크롤 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/Service.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#138 경매 등록 사진 업로드 레이아웃 작성 및 사진 삭제 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionImageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionImageSpaceItemDecoration.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionImageViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/DialogFactory.kt
  android/app/src/main/res/drawable/ic_register_delete_image_24.xml
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/layout/item_register_image.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#129 경매 상세 페이지 ViewModel 테스트 추가
  android/app/src/test/java/com/ddangddangddang/android/AuctionDetailVIewModelTest.kt
  android/app/src/test/java/com/ddangddangddang/android/Fixtures.kt
  android/app/src/test/java/com/ddangddangddang/android/HomeViewModelTest.kt
Labels: android, test

#122 채팅 기능 구현에 필요한 엔티티 생성
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ChatRoom.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/Message.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepository.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepositoryTest.java
Labels: backend, feature

#141 경매 입찰 요청 팝업창 UI 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_auction_bid_dialog.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature, ui

#137 지역 엔티티, 경매 엔티티 연동
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/CreateRegionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadRegionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadRegionsDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateDirectRegionRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/AuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/DirectRegionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/InitializationAuctionConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/region/domain/AuctionRegion.java
  backend/ddang/src/main/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepository.java
  backend/ddang/src/main/resources/application-local.yml
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/configuration/DatabaseCleanListener.java
  backend/ddang/src/test/java/com/ddang/ddang/region/domain/AuctionRegionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepositoryTest.java
Labels: backend, feature

#148 경매 등록 시 갤러리에서 사진 선택하는 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/BindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionImageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionImageViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/RegisterImageModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/SnackbarFactory.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/layout/item_register_image.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/ddangddangddang/android/HomeViewModelTest.kt
Labels: android, feature

#153 카테고리 선택 Activity UI, 구조 작성
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/CategoryDiffUtil.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/MainCategoryAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/MainCategoryViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SubCategoryAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SubCategoryViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/model/CategoryModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/CategoryModelMapper.kt
  android/app/src/main/res/color/black_400_to_red_100_checked.xml
  android/app/src/main/res/color/black_to_white_checked.xml
  android/app/src/main/res/color/white_to_red_100_checked.xml
  android/app/src/main/res/color/white_to_red_100_selected.xml
  android/app/src/main/res/layout/activity_select_category.xml
  android/app/src/main/res/layout/item_select_main_category.xml
  android/app/src/main/res/layout/item_select_sub_category.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/data/src/main/java/com/ddangddangddang/data/model/response/CategoriesResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/EachCategoryResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/CategoryRepositoryMockImpl.kt
Labels: android, feature

#154 입찰 가격 입력 뷰 수정 및 비지니스 로직 뷰모델로 분리
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ViewModelFactory.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidViewModel.kt
  android/app/src/main/res/layout/fragment_auction_bid_dialog.xml
  android/app/src/main/res/values/strings.xml
Labels: android

#160 flyway mysql 의존성 추가
  backend/ddang/build.gradle
Labels: backend

#163 flyway 적용
  backend/ddang/src/main/java/com/ddang/ddang/bid/domain/Bid.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ChatRoom.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/Message.java
  backend/ddang/src/main/resources/db/migration/V1__init_tables.sql
Labels: bug, backend

#171 prod-pipeline.jenkinsfile 오타 수정
  backend/ddang/script/prod-pipeline.jenkinsfile
Labels: bug, backend
