Repository woowacourse-teams/2023-3-ddang, pull requests merged in 2023-10, with the labels that each got.

#445 쪽지 전송과 알림 전송 트랜잭션 분리
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/MessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/dto/CreateNotificationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/util/NotificationProperty.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/domain/NotificationStatus.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/domain/NotificationType.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/FcmNotificationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/util/NotificationPropertyTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/domain/NotificationStatusTest.java
Labels: backend

#497 알림 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/FcmNotificationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/FcmNotificationServiceFixture.java
Labels: refactor, backend, test

#491 디바이스 토큰 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/device/application/DeviceTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/application/fixture/DeviceTokenServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/domain/DeviceTokenTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/domain/fixture/DeviceTokenFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/fixture/JpaDeviceTokenRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/presentation/DeviceTokenControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/presentation/fixture/DeviceTokenControllerFixture.java
Labels: refactor, backend, test

#485 채팅방 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/fixture/ChatRoomFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomAndMessageAndImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslChatRoomRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/JpaChatRoomRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslChatRoomAndImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslChatRoomAndMessageAndImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslChatRoomRepositoryImplFixture.java
Labels: refactor, backend, test

#499 사용자 관련 테스트 코드 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/dto/ReadUserDtoTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/fixture/UserServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/fixture/JpaUserRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserAuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/fixture/UserAuctionControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/fixture/UserControllerFixture.java
Labels: refactor, backend, test

#493 신고 관련 테스트 코드 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/ReportController.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/AuctionReportServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/ChatRoomReportServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/fixture/AuctionReportServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/fixture/ChatRoomReportServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaAuctionReportRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaChatRoomReportRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/JpaAuctionReportRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/JpaChatRoomReportRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/ReportControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/fixture/ReportControllerFixture.java
Labels: refactor, backend, test

#496 입찰 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/fixture/BidServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/BidTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/domain/fixture/BidFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/fixture/JpaBidRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/fixture/BidControllerFixture.java
Labels: refactor, backend, test

#501 이미지 관련 테스트 코드 리팩토링
  backend/ddang/src/test/java/com/ddang/ddang/image/application/ImageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/ProfileImageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/fixture/ImageServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/util/ImageIdProcessorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/application/util/fixture/ImageIdProcessorFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/domain/AuctionImageTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/domain/fixture/AuctionImageFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/local/LocalStoreImageProcessorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/local/fixture/LocalStoreImageProcessorFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/JpaAuctionImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/fixture/JpaAuctionImageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/fixture/JpaProfileImageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/ImageControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/fixture/ImageControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculatorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/fixture/ImageUrlCalculatorFixture.java
Labels: refactor, backend, test

#507 슬랙 알림이 PR 첫 요청시에만 발생하도록 변경
  .github/workflows/backend_pr_decorator.yml
Labels: backend, deploy

#511 슬랙 메세지 링크 정상화
  .github/workflows/backend_pr_decorator.yml
Labels: bug, backend

#484 지역 관련 테스트 코드 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/RegionController.java
  backend/ddang/src/test/java/com/ddang/ddang/region/application/RegionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/application/fixture/RegionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/region/domain/AuctionRegionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/domain/RegionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/domain/fixture/AuctionRegionFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/api/RestTemplateInitRegionProcessorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/api/fixture/RestTemplateInitRegionProcessorFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/JpaRegionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/infrastructure/persistence/fixture/JpaRegionRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/RegionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/region/presentation/fixture/RegionControllerFixture.java
Labels: refactor, backend, test

#495 메시지 레포지토리 관련 테스트 코드 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/JpaMessageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslMessageRepositoryImplFixture.java
Labels: refactor, backend, test

#504 경매 관련 테스트 코드 리펙토링
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/Auction.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/CategoryResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/fixture/AuctionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/configuration/util/SortParameterTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/configuration/util/fixture/SortParameterFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/AuctionTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/BidUnitTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/PriceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/fixture/AuctionFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/fixture/BidUnitFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/domain/fixture/PriceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListByBidderIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListByUserIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByAuctioneerCountTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByClosingTimeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByAuctioneerCountTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByClosingTimeTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByBidderIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionQueryByUserIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchAndSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSearchTitleQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionSortQueryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/InitializeCommonAuctionData.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionAndImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplForObjectTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListByBidderIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListByUserIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByAuctioneerCountFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByClosingTimeFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByReliabilityFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByAuctioneerCountFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByClosingTimeFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByReliabilityFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/JpaAuctionRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/QuerydslAuctionAndImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/QuerydslAuctionRepositoryImplForListFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/QuerydslAuctionRepositoryImplForObjectFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/fixture/AuctionControllerFixture.java
Labels: refactor, backend, test

#513 요청과 응답의 내용을 출력하는 로그 추가
  .github/workflows/backend_pr_decorator.yml
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/LogTracer.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/LogTracerAop.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/RequestResponseLogAop.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/log/RequestResponseLogProcessor.java
  backend/ddang/src/main/resources/logback-spring.xml
Labels: backend, feature

#502 메시지 서비스 테스트 관련 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/presentation/dto/request/ReadMessageRequest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/MessageServiceFixture.java
Labels: refactor, backend, test

#523 홈 화면에서 홈 버튼 클릭 시 맨 위로 스크롤하는 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainViewModel.kt
Labels: android, feature

#518 탈퇴 시 다이얼로그 띄우기
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/DialogFactory.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#521 유저 상호 평가 기능 뷰 작성
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/rate/UserRateDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/rate/UserRateViewModel.kt
  android/app/src/main/res/drawable/ic_rate_24.xml
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/layout/fragment_auction_bid_dialog.xml
  android/app/src/main/res/layout/fragment_user_rate_dialog.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: android, feature

#524 각 날짜별로 첫번째 메시지의 상단에 날짜가 표시되도록 수정
  android/app/src/main/java/com/ddangddangddang/android/di/Annotations.kt
  android/app/src/main/java/com/ddangddangddang/android/di/FormatterModule.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageViewItem.kt
  android/app/src/main/java/com/ddangddangddang/android/model/MessageModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/MessageModelMapper.kt
  android/app/src/main/res/layout/item_message_room_created_notify.xml
  android/app/src/main/res/layout/item_my_message.xml
  android/app/src/main/res/layout/item_partner_message.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#540 경매 서비스 테스트에서 불필요한 레거시 테스트 제거
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/AuctionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/fixture/AuctionServiceFixture.java
Labels: refactor, backend, test

#532 warn, error 레벨 로그 포맷 변경
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/resources/application.yml
  backend/ddang/src/main/resources/log/console-logging.xml
  backend/ddang/src/main/resources/log/file-error-logging.xml
  backend/ddang/src/main/resources/log/file-info-request-logging.xml
  backend/ddang/src/main/resources/log/file-warn-logging.xml
  backend/ddang/src/main/resources/log/slack-error-logging.xml
  backend/ddang/src/main/resources/logback-spring.xml
Labels: refactor, backend

#544 카테고리와 직거래 지역 조회 api 호출시 메모리 캐시 적용
  backend/ddang/src/main/java/com/ddang/ddang/category/presentation/CategoryController.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/CacheConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/region/presentation/RegionController.java
Labels: backend, feature

#538 채팅 가능 기간 관련 정책 제거 및 탈퇴한 사용자와 채팅이 불가능하도록 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadChatRoomWithLastMessageDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/dto/ReadParticipatingChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/ChatRoom.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/ChatRoomReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadChatRoomInReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadChatRoomReportDto.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/MessageServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/ChatRoomTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/domain/fixture/ChatRoomFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/ChatRoomControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/presentation/fixture/ChatRoomControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/presentation/fixture/ReportControllerFixture.java
Labels: backend, feature

#525 메시지 전송, 상위 입찰 생성과 알림 전송 이벤트 분리
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/dto/BidDto.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/event/BidNotificationEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/event/MessageNotificationEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationEventListener.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationService.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/dto/CreateNotificationDto.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/application/BidServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/MessageServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/FcmNotificationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/NotificationEventListenerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/FcmNotificationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/NotificationEventListenerFixture.java
Labels: refactor, backend

#551 입찰 관련 알림 수신자 변경
  backend/ddang/src/main/java/com/ddang/ddang/bid/application/BidService.java
Labels: bug, backend

#553 로그 설정 변경
  backend/ddang/src/main/resources/logback-spring.xml
Labels: bug, backend

#531 알림 태그와 아이디가 같은 알림 쌓는 기능 및 알림 관련 페이지 이동 시 알림 취소 기능 구현
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/ActiveNotificationManager.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
Labels: android, feature

#529 메시지 실시간 동기화 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
  android/app/src/main/java/com/ddangddangddang/android/reciever/MessageReceiver.kt
Labels: android, feature

#556 로그 설정 변경
  backend/ddang/src/main/resources/log/file-error-logging.xml
  backend/ddang/src/main/resources/log/file-info-request-logging.xml
  backend/ddang/src/main/resources/log/file-warn-logging.xml
Labels: bug, backend

#559 응답의 소수 데이터를 Float 타입으로 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadReviewDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/review/application/dto/CreateReviewDto.java
  backend/ddang/src/main/java/com/ddang/ddang/review/presentation/dto/request/CreateReviewRequest.java
  backend/ddang/src/main/java/com/ddang/ddang/review/presentation/dto/response/ReadReviewDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/review/presentation/dto/response/ReadReviewResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/SellerResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/review/presentation/fixture/ReviewControllerFixture.java
Labels: refactor, backend

#548 유저 상호 평가 서버 연동
  android/app/src/main/java/com/ddangddangddang/android/di/RepositoryModule.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ErrorType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/rate/UserRateDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/rate/UserRateViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/review/UserReviewDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/review/UserReviewViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/myAuction/MyAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/participateAuction/ParticipateAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/search/SearchFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/global/DdangDdangDdang.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ProfileModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/SellerModel.kt
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/fragment_user_review_dialog.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/ReviewRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReviewRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/ProfileResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/SellerResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/UserReviewResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/ReviewRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/ReviewRepositoryImpl.kt
Labels: android, feature

#549 비즈니스 로직 호출 메트릭 추가
  backend/ddang/src/main/java/com/ddang/ddang/configuration/metric/LogicMetricAop.java
  backend/ddang/src/main/java/com/ddang/ddang/configuration/metric/MetricConfiguration.java
Labels: backend, feature

#563 젠킨스 스크립트 수정
  backend/ddang/script/dev-pipeline.jenkinsfile
  backend/ddang/script/prod-pipeline.jenkinsfile
Labels: backend, deploy

#564 신뢰도 관련 뷰 활성화 및 신뢰도 평가 이전 표시 추가
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/view_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#567 에러 처리 로직 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ErrorTypeHandler.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/home/HomeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/review/UserReviewDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/review/UserReviewViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/myAuction/MyAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/myAuction/MyAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/participateAuction/ParticipateAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/participateAuction/ParticipateAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/category/SelectCategoryViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/search/SearchFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/search/SearchViewModel.kt
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/activity_select_regions.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/UserRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/UserRepositoryImpl.kt
Labels: android, feature

#572 feat: 문의하기 기능 추가
  android/app/build.gradle
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#575 경매 이미지가 경매 id와 동일한 값으로 전달되는 버그 수정
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionResponse.java
Labels: bug, backend

#578 하위 버전에서 상세 페이지의 제목 글자 흐르지 않던 문제 해결
  android/app/src/main/res/layout/activity_auction_detail.xml
Labels: bug, android

#581 메인 화면에서 백키 핸들러 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainBindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/BackKeyHandler.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#583 신뢰도 기반 및 참여 인원순 정렬 경매 목록 조회 시 마감된 경매를 후순위로 정렬하도록 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByAuctioneerCountTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByAuctioneerCountTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByAuctioneerCountFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByReliabilityFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByAuctioneerCountFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByReliabilityFixture.java
Labels: refactor, backend

#586 경매 상세 정보를 Fragment로 분리
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/info/AuctionDirectRegionViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/info/AuctionDirectRegionsAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/info/AuctionInfoFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/util/view/Converter.kt
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_auction_info.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#618 불필요한 todo 삭제
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/dto/AuctionAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndMessageAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/AuctionImage.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/util/NotificationProperty.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: refactor, backend

#624 운영 서버 배포 스크립트에 무중단 배포 적용
  backend/ddang/script/prod-deploy-script.sh
Labels: backend, deploy

#604 경매 상세 조회 시 경매글을 찾을 수 없을 때만 404를 보내도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
Labels: refactor, backend

#610 메시지 방 목록에 브로드캐스트 리시버 등록 및 해제 로직 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/message/MessageViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
Labels: android, feature

#621 경매 등록 페이지 필수 입력사항 표시와 힌트 텍스트 수정 및 마감 선택 날짜 제한 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/res/drawable/ic_necessary_24.xml
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#623 이미지 상세 페이지 확대 기능 추가
  android/app/build.gradle
  android/app/src/main/res/layout/item_detail_image.xml
  android/settings.gradle
Labels: android, feature

#634 메시지 전송 시 작성자 이미지가 전송되도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationEventListener.java
Labels: bug, backend

#635 백엔드 브랜치 develop 브랜치에 최신화
  backend/ddang/script/prod-deploy-script.sh
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadChatRoomDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/dto/AuctionAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/dto/ChatRoomAndMessageAndImageQueryProjectionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/AuctionImage.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationEventListener.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/util/NotificationProperty.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/ChatRoomServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
Labels: bug, backend

#636 운영서버 배포 스크립트에 actuator 관련 변수 추가
  backend/ddang/script/prod-deploy-script.sh
Labels: bug, backend, deploy

#637 !hotfix: 운영서버 배포 스크립트에 actuator 관련 변수 추가 (#636)
  backend/ddang/script/prod-deploy-script.sh
Labels: bug, backend, deploy

#638 운영서버에 actuator 변수 설정
  backend/ddang/script/prod-deploy-script.sh
Labels: bug, backend, deploy

#608 경매 목록 조회 시 마감된 경매의 정렬 순서를 후순위로 변경
  backend/ddang/script/prod-deploy-script.sh
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/ChatRoomService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/QuestionService.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/application/fixture/AuctionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleAndSortByIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSearchByTitleTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionForListSortByIdTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepositoryImplForObjectTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleAndSortByIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSearchByTitleFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionForListSortByIdFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/JpaAuctionRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/QuerydslAuctionRepositoryImplForListFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
Labels: refactor, backend

#620 경매 등록 시 경매 마감 시간 제한 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/validator/ClosingTimeLimit.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/configuration/validator/ClosingTimeValidator.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/request/CreateAuctionRequest.java
Labels: refactor, backend

#612 소셜 로그인 시 최초 로그인(회원가입)한 회원인지 여부 반환
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/dto/LoginInformationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/dto/LoginUserInformationDto.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/dto/response/LoginInformationResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/fixture/AuthenticationControllerFixture.java
Labels: refactor, backend

#631 이전에 선택한 지역 유지 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/region/SelectRegionsViewModel.kt
Labels: android, feature

#633 채팅 및 입찰 Submit 키 기능 추가 및 채팅 목록에서 말줄임표 사용
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/res/layout/activity_message_room.xml
  android/app/src/main/res/layout/fragment_auction_bid_dialog.xml
  android/app/src/main/res/layout/item_message_room.xml
Labels: android, feature

#602 상호 평가 반영 스케줄링
  backend/ddang/src/main/java/com/ddang/ddang/configuration/SchedulingConfiguration.java
  backend/ddang/src/main/java/com/ddang/ddang/review/application/ReviewService.java
  backend/ddang/src/main/java/com/ddang/ddang/review/domain/Reviews.java
  backend/ddang/src/main/java/com/ddang/ddang/review/infrastructure/persistence/JpaReviewRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/schedule/ReliabilityUpdateSchedulingService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/Reliability.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/ReliabilityUpdateHistory.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/UserReliability.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaReliabilityUpdateHistoryRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserReliabilityRepository.java
  backend/ddang/src/main/resources/db/migration/V17__create_reliability_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/review/application/ReviewServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/review/application/fixture/ReviewServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/review/domain/ReviewsTest.java
  backend/ddang/src/test/java/com/ddang/ddang/review/domain/fixture/ReviewsFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/review/infrastructure/persistence/JpaReviewRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/schedule/ReliabilityUpdateSchedulingServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/schedule/fixture/ReliabilityUpdateSchedulingServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/ReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/ReliabilityUpdateHistoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserReliabilityTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/fixture/ReliabilityFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/fixture/UserFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/fixture/UserReliabilityFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaReliabilityUpdateHistoryRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserReliabilityRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/fixture/JpaUserReliabilityRepositoryFixture.java
Labels: backend, feature

#626 회원 탈퇴 시 소셜 로그인 방식을 DB에서 조회하도록 변경
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/presentation/AuthenticationController.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadUserInQnaDto.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/dto/ReadUserInReportDto.java
  backend/ddang/src/main/java/com/ddang/ddang/review/application/dto/ReadUserInReviewDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/dto/ReadUserDto.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/OauthInformation.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
  backend/ddang/src/main/resources/db/migration/V18__alter_user_oauth_type_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
Labels: refactor, backend

#642 QnA 뷰 그리기
  android/app/src/main/java/com/ddangddangddang/android/feature/common/BindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/DetailFragmentAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/DetailFragmentType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainBindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainFragmentType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/QnaModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/QnaStatusModel.kt
  android/app/src/main/res/drawable/bg_radius_8dp.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_auction_info.xml
  android/app/src/main/res/layout/fragment_bid_history.xml
  android/app/src/main/res/layout/fragment_qna.xml
  android/app/src/main/res/layout/item_home_auction.xml
  android/app/src/main/res/layout/item_qna.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#614 Q&A 알림 기능 구현
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/event/MessageNotificationEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/NotificationEventListener.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/domain/NotificationType.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/AnswerService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/QuestionService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/QuestionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/event/AnswerNotificationEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/event/QuestionNotificationEvent.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/presentation/QnaController.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/NotificationEventListenerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/NotificationEventListenerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/AnswerServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/QuestionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/AnswerServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/presentation/QnaControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/presentation/fixture/QnaControllerFixture.java
Labels: backend, feature

#630 경매 입찰 내역 조회 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/BidHistoryModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionBidHistoryModelMapper.kt
  android/app/src/main/res/layout/fragment_bid_history.xml
  android/app/src/main/res/layout/item_bid_history.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/BidHistoryResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#650 Category 관련 인프라 리펙토링
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/AuctionService.java
  backend/ddang/src/main/java/com/ddang/ddang/category/application/CategoryService.java
  backend/ddang/src/main/java/com/ddang/ddang/category/domain/repository/CategoryRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/category/infrastructure/persistence/CategoryRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/CategoryRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/category/infrastructure/persistence/fixture/CategoryRepositoryFixture.java
Labels: refactor, backend

#641 경매 등록 화면에서 금액 수정 시 커서가 수정 위치에 유지되는 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/register/DefaultTextWatcher.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/PriceTextWatcher.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
Labels: android, feature

#667 입찰 목록 조회 API 명세 변경에 따른 수정
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/BidController.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/presentation/dto/response/ReadBidsResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/BidControllerTest.java
Labels: refactor, backend

#669 Q&A 목록 조회 API 명세 변경에 따른 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionQnaController.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadQuestionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadUserInAuctionQuestionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/QuestionService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadQnaDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadQnasDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadQuestionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/presentation/QnaController.java
  backend/ddang/src/main/java/com/ddang/ddang/report/presentation/dto/response/ReadReporterResponse.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionQnaControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/fixture/AuctionQuestionControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/QuestionServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/QuestionReportServiceTest.java
Labels: refactor, backend

#681 신규 회원가입이 안되는 버그 수정
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
Labels: bug, refactor, backend

#678 Image 관련 인프라 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/image/application/ImageService.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/repository/AuctionImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/repository/ProfileImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/AuctionImageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/JpaAuctionImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/JpaProfileImageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/image/infrastructure/persistence/ProfileImageRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/AuctionImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/ProfileImageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/fixture/AuctionImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/infrastructure/persistence/fixture/ProfileImageRepositoryImplFixture.java
Labels: refactor, backend

#686 Q&A 관련 인프라 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/AnswerService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/QuestionService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/QuestionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/domain/repository/AnswerRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/domain/repository/QuestionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/infrastructure/AnswerRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/infrastructure/JpaAnswerRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/infrastructure/JpaQuestionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/infrastructure/QuestionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/AnswerReportService.java
  backend/ddang/src/main/java/com/ddang/ddang/report/application/QuestionReportService.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/AnswerServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/AnswerRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/QuestionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/AnswerRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/QuestionRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/fixture/AnswerReportServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/fixture/QuestionReportServiceFixture.java
Labels: refactor, backend

#688 닉네임 수정 시 중복 예외 처리 추가
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/UserService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/application/exception/AlreadyExistsNameException.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/repository/UserRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/user/infrastructure/persistence/UserRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/UserServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/application/fixture/UserServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/JpaUserRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/UserRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/fixture/JpaUserRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/infrastructure/persistence/fixture/UserRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/UserControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/fixture/UserControllerFixture.java
Labels: backend, feature

#654 경매 입찰 내역 조회 내역 뜨지 않는 버그 수정
  android/app/src/main/java/com/ddangddangddang/android/di/Annotations.kt
  android/app/src/main/java/com/ddangddangddang/android/di/FormatterModule.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryViewModel.kt
  android/app/src/main/res/layout/item_bid_history.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#694 Message 인프라 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/chat/application/MessageService.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/repository/MessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/MessageRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryImpl.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/ChatRoomServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/application/fixture/MessageServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/ChatRoomRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/MessageRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/ChatRoomAndMessageAndImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/MessageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/QuerydslMessageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/NotificationEventListenerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/FcmNotificationServiceFixture.java
Labels: refactor, backend

#695 경매 상세 조회 시 로그인한 사용자가 해당 경매의 최고 입찰자인지 여부를 반환하도록 응답 형식 변경
  backend/ddang/src/main/java/com/ddang/ddang/auction/application/dto/ReadAuctionDto.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/AuctionControllerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/fixture/AuctionControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/fixture/UserAuctionControllerFixture.java
Labels: docs, refactor, backend

#696 Device 인프라 리팩토링
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/device/application/DeviceTokenService.java
  backend/ddang/src/main/java/com/ddang/ddang/device/domain/repository/DeviceTokenRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/device/infrastructure/persistence/DeviceTokenRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/notification/application/FcmNotificationService.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionAndImageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/QuerydslAuctionAndImageRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/JpaBidRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/bid/infrastructure/persistence/fixture/BidRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaChatRoomRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/JpaMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/QuerydslMessageRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/ChatRoomAndImageRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/chat/infrastructure/persistence/fixture/ChatRoomRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/application/DeviceTokenServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/application/fixture/DeviceTokenServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/DeviceTokenRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/JpaDeviceTokenRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/fixture/DeviceTokenRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/device/infrastructure/persistence/fixture/JpaDeviceTokenRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/FcmNotificationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/AnswerRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/ChatRoomReportRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/JpaChatRoomReportRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/QuestionReportRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/AuctionReportRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/JpaQuestionReportRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/QuestionReportRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/review/infrastructure/persistence/JpaReviewRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/review/infrastructure/persistence/fixture/JpaReviewRepositoryFixture.java
Labels: refactor, backend

#698 질문과 답변 조회 시 삭제된 답변은 보이지 않도록 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadQnaResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadAnswerDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/ReadQuestionDto.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/presentation/fixture/AuctionQuestionControllerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/JpaQuestionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/JpaQuestionRepositoryFixture.java
Labels: refactor, backend

#683 화면 구성 변경이 되더라도 알림 권한을 다시 묻지 않도록 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainViewModel.kt
Labels: android, feature

#666 소셜 로그인할 때 만약 첫 회원가입인 경우, 닉네임 및 프로필 설정페이지를 먼저 보여주기
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ErrorTypeHandler.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/DetailFragmentType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/OnBoardingActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/OnBoardingFragmentAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/OnBoardingPageType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/OnBoardingViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/profile/ProfileSettingFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/onboarding/profile/ProfileSettingViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/profile/ProfileChangeViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/splash/SplashActivity.kt
  android/app/src/main/res/layout/activity_onboarding.xml
  android/app/src/main/res/layout/fragment_profile_setting.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuthRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/LoginByKakaoResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuthService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuthRepositoryImpl.kt
Labels: android, feature

#674 Q&A 알림 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/global/UrlConverter.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/ActiveNotificationManager.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/DdangDdangDdangFirebaseMessagingService.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/NotificationType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/AnswerType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/BidType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/MessageType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/NotificationType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/QuestionType.kt
  android/app/src/main/res/drawable/img_default_auction.png
  android/app/src/main/res/drawable/img_default_qna.png
Labels: android, refactor, feature

#700 답변이 null인 경우 처리가 안 되는 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadQnaResponse.java
Labels: refactor, backend

#606 탈퇴 시 사용자 닉네임 랜덤 값으로 수정
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/AuctionController.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/image/domain/ProfileImage.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageRelativeUrl.java
  backend/ddang/src/main/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculator.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/main/resources/db/migration/V19__alter_user_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/ImageUrlCalculatorTest.java
  backend/ddang/src/test/java/com/ddang/ddang/image/presentation/util/fixture/ImageUrlCalculatorFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
Labels: backend, feature

#704 답변 삭제 시 다시 답변을 달지 못하는 문제 해결
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/AnswerService.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/application/dto/CreateAnswerDto.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/domain/Answer.java
  backend/ddang/src/main/java/com/ddang/ddang/qna/domain/Question.java
  backend/ddang/src/main/resources/db/migration/V20__alter_answer_tables.sql
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/notification/application/fixture/NotificationEventListenerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/AnswerServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/AnswerServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/application/fixture/QuestionServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/domain/AnswerTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/domain/fixture/AnswerFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/domain/fixture/QuestionFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/AnswerRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/JpaAnswerRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/AnswerRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/JpaAnswerRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/JpaQuestionRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/qna/infrastructure/fixture/QuestionRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/application/fixture/AnswerReportServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/AnswerReportRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/report/infrastructure/persistence/fixture/JpaAnswerReportRepositoryFixture.java
Labels: bug, backend

#706 flyway 스크립트 문제 해결
  backend/ddang/src/main/resources/db/migration/V20__alter_answer_tables.sql
Labels: bug, backend

#699 경매 상세 페이지 수정(마감기한 시간 정보 뷰 수정 및 최고 입찰자 표시)
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailBottomButtonStatus.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailFormatter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/AuctionDetailModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/AuctionDetailModelMapper.kt
  android/app/src/main/res/layout-land/activity_auction_detail.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_auction_info.xml
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/model/response/AuctionDetailResponse.kt
Labels: android, feature

#676 입찰시 커서 유지 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/common/PriceTextWatcher.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bid/AuctionBidViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/PriceTextWatcher.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#679 질문 작성/답변 작성 다이얼로그 그리기 및 서버 연동
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/ddangddangddang/android/feature/common/ErrorTypeHandler.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/AuctionDetailActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaViewHolder.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/QnaViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/registeranswer/RegisterAnswerDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/registeranswer/RegisterAnswerViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/registerquestion/RegisterQuestionDialog.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/qna/registerquestion/RegisterQuestionViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/register/RegisterAuctionActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/report/ReportViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/QnaModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/QnaStatusModel.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ReportInfo.kt
  android/app/src/main/java/com/ddangddangddang/android/model/ReportType.kt
  android/app/src/main/java/com/ddangddangddang/android/model/mapper/QnaModelMapper.kt
  android/app/src/main/res/layout/activity_register_auction.xml
  android/app/src/main/res/layout/fragment_qna.xml
  android/app/src/main/res/layout/fragment_register_answer_dialog.xml
  android/app/src/main/res/layout/fragment_register_question_dialog.xml
  android/app/src/main/res/layout/item_qna.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/strings.xml
  android/data/src/main/java/com/ddangddangddang/data/datasource/AuctionRemoteDataSource.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/RegisterAnswerRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/RegisterQuestionRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReportAnswerRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/request/ReportQuestionRequest.kt
  android/data/src/main/java/com/ddangddangddang/data/model/response/QnaResponse.kt
  android/data/src/main/java/com/ddangddangddang/data/remote/AuctionService.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepository.kt
  android/data/src/main/java/com/ddangddangddang/data/repository/AuctionRepositoryImpl.kt
Labels: android, feature

#703 알림 화면이 부모 화면 위에 쌓이는 기능 추가
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainBindingAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainFragmentType.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/main/MainViewModel.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/MessageType.kt
  android/app/src/main/java/com/ddangddangddang/android/notification/type/NotificationType.kt
Labels: android, feature

#711 프로필 정보 뷰 텍스트 대응 및 탭 레이아웃 백그라운드 속성 수정
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/detail/bidHistory/BidHistoryFragment.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageAdapter.kt
  android/app/src/main/java/com/ddangddangddang/android/feature/messageRoom/MessageRoomActivity.kt
  android/app/src/main/java/com/ddangddangddang/android/model/SellerModel.kt
  android/app/src/main/res/layout-land/activity_auction_detail.xml
  android/app/src/main/res/layout/activity_auction_detail.xml
  android/app/src/main/res/layout/fragment_auction_info.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_bid_history.xml
  android/app/src/main/res/layout/view_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: android, refactor

#710 경매 관련 탈퇴 로직 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/domain/repository/AuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionRepositoryImpl.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/infrastructure/persistence/QuerydslAuctionRepository.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadReviewDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/ReadUserInAuctionQuestionResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/exception/WithdrawalNotAllowedException.java
  backend/ddang/src/main/java/com/ddang/ddang/bid/domain/Bid.java
  backend/ddang/src/main/java/com/ddang/ddang/exception/GlobalExceptionHandler.java
  backend/ddang/src/main/java/com/ddang/ddang/report/domain/QuestionReport.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/User.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/AuctionRepositoryImplTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/JpaAuctionRepositoryTest.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/AuctionRepositoryImplFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/auction/infrastructure/persistence/fixture/JpaAuctionRepositoryFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/AuthenticationServiceTest.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/application/fixture/AuthenticationServiceFixture.java
  backend/ddang/src/test/java/com/ddang/ddang/authentication/presentation/AuthenticationControllerTest.java
Labels: backend, feature

#719 restdocs 문서가 깨지는 문제 해결
  backend/ddang/src/docs/asciidoc/docs.adoc
  backend/ddang/src/main/java/com/ddang/ddang/chat/domain/Message.java
  backend/ddang/src/main/java/com/ddang/ddang/report/domain/AnswerReport.java
  backend/ddang/src/main/java/com/ddang/ddang/report/domain/AuctionReport.java
  backend/ddang/src/main/java/com/ddang/ddang/report/domain/ChatRoomReport.java
  backend/ddang/src/main/resources/static/docs/docs.html
  backend/ddang/src/test/java/com/ddang/ddang/bid/presentation/fixture/BidControllerFixture.java
Labels: bug, docs, backend

#723 신뢰도 0.0과 초기 신뢰도가 구분되도록 하는 기능 추가
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/Reliability.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/util/ReliabilityProcessor.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/util/ReliabilityProcessorTest.java
Labels: backend, feature

#725 백엔드 develop 브랜치 최신화
  backend/ddang/src/main/java/com/ddang/ddang/auction/presentation/dto/response/SellerResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/authentication/application/AuthenticationService.java
  backend/ddang/src/main/java/com/ddang/ddang/user/domain/Reliability.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadAuctionDetailResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/dto/response/ReadUserResponse.java
  backend/ddang/src/main/java/com/ddang/ddang/user/presentation/util/ReliabilityProcessor.java
  backend/ddang/src/test/java/com/ddang/ddang/user/domain/UserTest.java
  backend/ddang/src/test/java/com/ddang/ddang/user/presentation/util/ReliabilityProcessorTest.java
Labels: backend, deploy
